<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BusynessNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BusynessNotification.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BusynessNotification.Properties.Settings>
            <setting name="CheckCPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckMemory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckDisk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SliderCPU" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SliderMemory" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SliderDisk" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SecCPU" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SecMemory" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SecDisk" serializeAs="String">
                <value>10</value>
            </setting>
        </BusynessNotification.Properties.Settings>
        <BusynessNotification.Settings1>
            <setting name="CheckCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckMemory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SliderCPU" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SliderMemory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SliderDisk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecCPU" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecMemory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecDisk" serializeAs="String">
                <value>0</value>
            </setting>
        </BusynessNotification.Settings1>
    </userSettings>
</configuration>